$font-size-normal: 0.8rem;
$font-size-large: 1.6rem;

$white: #fff;
$gray-100: #f3f5f7;
$gray-200: #d1d5da;
$gray-400: #ced4da;
$gray-600: #666;
$gray-700: #444;
$black: #000;

$blue: #2196f3;
$red: #e51c23;
$green: #4CAF50;

$color-primary-100: rgba($blue, 0.15);// rgba(32, 148, 243, 0.15);
$color-primary-200: rgba($blue, 0.25);
$color-primary: $blue; // 400

$color-secondary-100: rgba($green, 0.15);
$color-secondary-200: rgba($green, 0.25);
$color-secondary: $green;
